<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lazy Reddit</title>
  <link rel ="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
<script type="post/html" id="postTmpl">
<div class="row">
  <a href="<%= url %>" target="_blank">
    <div class="col-md-12">
      <div class="subreddit col-md-2"><%= subreddit %></div>
        <div class="title col-md-10"><%= title %></div>
    </div>
  </a>
</div>
</script>
</head>
<body>


  <title>Lazy Reddit</title>
</head>
<body>
  <div class="header">
    <div class="subredditSearchForm">
      <input type="text" class="subredditSearch" id="subredditSearch" placeholder="enter a subreddit">
    </div>
  </div>
  <div class="container">
    <i class="fa fa-reddit"></i>
  </div>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type='text/javascript' src="main.js"></script>
</html>
